backend/.env
frontend/.env
.venv
.env
backend/__pycache__
backend/routes/__pycache__
backend/core/__pycache__
backend/models/__pycache__
*.pyc
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
